body { 
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	background-color: #FFDEAD;
	color: #000000 
}

/**** HEADER ****/
#header-nav{
	background-color: #E0ffff;
	border-radius: 0;
	border: 0;
	font-family: 'Raleway', sans-serif;
}
.navbar-brand {
	padding-top: 25px;
	margin-bottom: 25px;
}
.navbar-brand h1{ /* Company Name*/
	font-family: 'Raleway', sans-serif;
	color: #F08080;
	font-size: 1.6em;
	font-weight: bold;
	text-shadow: 1px 1px 1px white;
	margin-top: 0;
	margin-bottom: 0px;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: underline;
}
#nav-list {
	margin-top: 10px;
}
#nav-list a{
	color: #191970;
	text-align: center;
}
#nav-list a:hover {
	background: #FFC0CB;
}
#nav-list a span{
	font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #C0C0C0;
}
.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */

.menu-categories-title{
	margin: 20px;
}

.row{
	border :1px solid black;
	margin: 5px;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #F08080;
	padding: 15px;
	}
}

.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  margin: 0 auto 15px;
  font-size: 1.8em;
}
.category-tile div{ 
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin:10px;
}
.category-tile p{ 
  font-size: 1.8em;
}













